[Unit]
Description=TJ UAV FlightSoftware
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecPre=/bin/sleep 30
ExecStart=/home/tjuav/FlightSoftware/start.sh
ExecStop=/home/tjuav/FlightSoftware/stop.sh

[Install]
WantedBy=multi-user.target
